{% extends "fan/_base.html" %}

{% block title %}{{target.username}}的个人主页{% endblock %}

{% block content %}
<style>
    html {
        background-image: url('/media/{{ target_profile.back_img }}');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    body {
        background: none;
        margin: 10%;
    }

    .mdui-drawer {
        backdrop-filter: blur(64px) brightness(200%);
    }
</style>

<div class="mdui-container profile-view mdui-hoverable">
    {% include "fan/components/user_info.html" with profile=target_profile user=target %}
    {% include "fan/components/user_detail.html" with profile=target_profile user=target %}

    <br />

    <div class="mdui-row">
        <div class="mdui-col-xs-6 mdui-col-offset-xs-2 mdui-typo" style="font-size: 24px;color:black">
            {{target_profile.desc}}
        </div>
    </div>
</div>

<script>
    function toggleHidden() {
        document.querySelector('.profile-view').classList.toggle('profile-view-hidden');
    }
</script>

<button class="mdui-btn mdui-fab mdui-fab-fixed mdui-ripple mdui-color-pink-50" onclick="toggleHidden()">
    <i class="mdui-icon material-icons">image</i>
</button>

{% endblock %}