<div class="mdui-row" style="padding-top: 12px">
    <div class="mdui-col-xs-12 mdui-col-md-3 mdui-col-offset-md-2">
        <i class="mdui-icon fa-solid fa-austral-sign"></i>签名：{{profile.sign}}
    </div>
    <div class="mdui-col-xs-12 mdui-col-md-2">
        <i class="mdui-icon material-icons">location_on</i>位置：{{profile.address}}
    </div>
    <div class="mdui-col-xs-12 mdui-col-md-2">
        <i class="mdui-icon material-icons">today</i>生日：{{profile.birthday}}
    </div>
    <div class="mdui-col-xs-12 mdui-col-md-2">
        <i class="mdui-icon material-icons">account_circle</i>UID：{{user.id}}
    </div>
</div>